html {
    height: 100%;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    overscroll-behavior: contain;
    width: 100%;
    height: 100%;
    display: flex;
}

canvas {
    background-color: white;
    box-sizing: border-box;
    border: 1px solid black;
}

.start-screen {
    width: 50%;
    height: 50%;
    margin: auto;
    text-align: center;
}

button.start {
    width: 50%;
    height: 50%;
}

.controls {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}