html {
    height: 100%;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    overscroll-behavior: contain;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: black;
    color: white;
    font-family: 'Nunito', sans-serif;
}

canvas {
    background-color: black;
    box-sizing: border-box;
    border: 1px solid black;
    color: white;
    width: 100%;
    height: 100%;
}

.start-screen h1 {
    margin: 0;
}

h4 {
    margin: 0;
    margin-bottom: 10px;
}

.start-screen {
    width: 50%;
    height: 50%;
    margin: auto;
    text-align: center;
}

button {
    font-family: inherit;
    background-color: black;
    color: white;
    font-size: larger;
    border: 1.5px solid white;
    border-radius: 10px;
}

button:active {
    background-color: white;
    color: black;
    font-weight: bold;
}

button.start {
    width: 250px;
    height: 100px;
    font-weight: 900;
    font-size: x-large;
}

input.rate {
    background-color: black;
    color: white;
    font-family: inherit;
    width: 38px;
    appearance: textfield;
    border: 1.5px solid white;
    font-size: larger;
    text-align: center;
    box-sizing: border-box;
}

input.rate::-webkit-inner-spin-button {
    display: none;
}

.controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
}

.controls > * {
    pointer-events: all;
    width: 38px;
    height: 32px;
    border-radius: 0;
    border-right: none !important;
    text-align: center;
    outline: none;
}

.controls > button {
    padding-top: 2px;
}

.controls > *:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.controls > *:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 1px solid white !important;
}

.controls .loop.selected {
    background-color: white;
    color: black;
}

.controls .loop.selected:active {
    background-color: black;
    color: white;
}

.palette {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    pointer-events: none;
}

.palette > div {
    display: inline-flex;
    flex-direction: column;
}

.palette span {
    font-weight: 900;
    font-size: 0.8em;
}

.palette button {
    pointer-events: all;
    width: 32px;
    height: 32px;
    filter: brightness(70%);
}

.palette button.selected {
    border: 2px solid #eeeeee;
    filter: brightness(100%);
}

.playhead {
    position: absolute;
    width: 1px;
    height: 100%;
    left: -1px;
    top: 0;
    background-color: white;
}