html {
    height: 100%;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    overscroll-behavior: contain;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: black;
    color: white;
    font-family: 'Nunito', sans-serif;
}

canvas {
    background-color: black;
    box-sizing: border-box;
    border: 1px solid black;
    color: white;
}

.start-screen h1 {
    margin: 0;
}

h4 {
    margin: 0;
    margin-bottom: 10px;
}

.start-screen {
    width: 50%;
    height: 50%;
    margin: auto;
    text-align: center;
}

button {
    font-family: inherit;
    background-color: black;
    color: white;
    font-size: larger;
    border: 1.5px solid white;
    border-radius: 10px;
}

button:active {
    background-color: white;
    color: black;
    font-weight: bold;
}

button.start {
    width: 250px;
    height: 100px;
}

.controls {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.palette {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.palette button {
    width: 32px;
    height: 32px;
    filter: brightness(70%);
}

.palette button.selected {
    border: 2px solid #eeeeee;
    filter: brightness(100%);
}

.palette .color-0 {
    background-color: white;
}

.palette .color-1 {
    background-color: #ff714d;
}

.palette .color-2 {
    background-color: #05bfee;
}

.palette .color-3 {
    background-color: #4ec921 /*#f7e41c*/;
}